#about {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
}

#about-box {
  display: flex;
  max-width: 70vw;
  align-items: center;
  margin-left: 70px;
}

@media (max-width: 800px) {
  #about-box {
    max-width: 90vw;
    margin-left: 0px;
  }
}

#about-left {
  margin-right: 30px;
}
@media (max-width: 800px) {
  #about-left {
    margin-right: 0px;
  }
}

#about-description {
  color: white;
  font-size: 2vw;
}

@media (max-width: 800px) {
  #about-description {
    font-size: 1.5rem;
  }
}

#line1 {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(72, 140, 205);
}

#line2,
#line3 {
  color: rgb(172, 169, 166);
}

#about-skills {
  display: flex;
  flex-direction: column;
  color: white;
}

#about-skills-title {
  font-size: 2rem;
  color: rgb(79, 101, 178);
  margin-bottom: 10px;
}

#about-skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skill {
  margin: 10px;
}

.skill > img {
  width: 60px;
  height: 60px;
}

.skill > div {
  text-align: center;
}

@media (max-width: 800px) {
  #about-skills {
    margin-left: 0;
  }
}

#astronaut {
  width: 25vw;
}

@media (max-width: 800px) {
  #astronaut {
    display: none;
  }
}

.skills-icons {
  margin: 10px;
}
